VITE_SUPABASE_URL=https://natxddbuzbzghdcgpygi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hdHhkZGJ1emJ6Z2hkY2dweWdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4OTg1MTksImV4cCI6MjA5MTQ3NDUxOX0.tMz1MhoddOerTn-4xzQ8Nxx3WnvF36Z61mBE7Sh0LoU
